*{
    padding: 0;
    margin: 0;
}
.nav-item1 .navhover1{
    display: none;
}
.nav-item1:hover .navhover1{
    display: block;
}
.nav-item2 .navhover1{
    display: none;
}
.nav-item2:hover .navhover1{
    display: block;
}
.nav-item3 .navhover1{
    display: none;
}
.nav-item3:hover .navhover1{
    display: block;
}
.nav-item4 .navhover1{
    display: none;
}
.nav-item4:hover .navhover1{
    display: block;
}
.nav-item5 .navhover1{
    display: none;
}
.nav-item5:hover .navhover1{
    display: block;
}
.nav-item6 .navhover1{
    display: none;
}
.nav-item6:hover .navhover1{
    display: block;
}
.nav-hover1{
    background-color: rgb(233, 229, 229);
}
.nav-hover1:hover{
    background-color: rgb(238, 238, 25);
}